Source: multiforcer
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/projects/cryptohaze/
Vcs-Git: ssh://git@git.kali.org/packages/multiforcer.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/multiforcer.git;a=summary

Package: multiforcer
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPU accelerated password cracking tool
 A CUDA & OpenCL accelerated rainbow table implementation 
 from the ground up, and a CUDA hash brute forcing tool with 
 support for many hash types including MD5, SHA1, LM, NTLM, 
 and lots more.
